@import "figure.css";

.titoli{
    text-align: center;
    font-family: Georgia;
    color: black;
}

#container-ricerca input[type=text] {
    width: 50%;
}

#container-ricerca {
    text-align: center;
}

#container-ricerca input[type=text] {
    margin: 5px;
    width: 50%;
}

#container-catalogo-table {
    overflow-x: auto
}