@import "figure.css";

@import "searchbar.css";

/*media-query*/

@media screen and (min-width: 1018px) {

    #container-catalogo {
        margin-left: 255px;
        max-width: 750px;
    }
}


@media screen and (min-width: 1200px) {

    #container-catalogo {
        margin-left: 255px;
        max-width: 1100px;
    }
}

@media screen and (min-width: 1600px) {


    #container-catalogo {
        margin-left: 255px;
        max-width: 1440px;
    }
}