#container-carrello {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 50%;
    min-height: 100%;
}

.container-libro-item {
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    background-color: #dee3de; /*Whitecap Foam*/
}

.prezzo-libri {
    float: right;
    display: inline-block;
}

#container-carrello img {
    width: 100px;
    height: 150px;
}

.container-info-libro {
    margin-left: 2px;
}