form label {
    font-size: 20px;
}

form p {
    font-size: 18px;
    font-style: italic;
}

div.container-ordini-item {
    border : 1px solid #555555;
    margin: 5px;
}

#container-filtro-utente {
    margin: 5px;
}

#container-indirizzo-utente {
    border : 1px solid #555555;
    margin: 5px;
}

#container-pagamento-utente {
    border : 1px solid #555555;
    margin: 5px;
}