form label {
    font-size: 18px;
}

form p {
    font-style: italic;
}

form ul {
    list-style-type: none;
}

form p.error {
    font-size: 14px;
    font-style: italic;
}
form span {
    font-style: italic;
}

legend {
    border: 1px solid black;
    background-color: #dee3de;
}

form input [type = text] {
    width: 40%;
}

#fotolibro {
    max-width: 200px;
}

#container-forms {
    min-height: 100%;
    max-width: 1000px;
    margin: auto;
}

#container-filtro-utente {
    margin: 10px;
}

fieldset {
    margin: 5px;
}

form {
    margin: 5px;
}

@media screen and (max-width: 600px){
    form ul {
        list-style-type: square;
    }


    form label {
        font-size: 16px;
    }

    form p,fieldset p {
        font-size: 14px;
    }

    form p.error {
        font-size: 12px;
    }

    #img-libro-ordine {
        width: 30px;
        height: 50px;
    }
}

@media screen and (min-width: 601px) and (max-width: 984px){
    #img-libro-ordine {
        width: 66px;
        height: 100px;
    }
}

@media screen and (min-width: 985px){
    #form-libro-1,#form-libro-2 {
        display: inline-block;
        margin: 20px;
    }

    #img-libro-ordine {
        width: 100px;
        height: 150px;
    }

    #container-ordine {
        max-width: 900px;
        margin: auto;
    }
}