html,body {
    margin: 0;
    background-color: ghostwhite;
    height: 100%;
}

.left{
    float: left; /*fissa l'elemento a sinistra*/
}

.none{
    display: none;
}

.block{
    display: block;
}

.right{
    float: right; /*fissa l'elemento a destra*/
}

.center {
    text-align: center; /*fissa l'elemento al centro*/
}

.bottom{
    float: bottom; /*fissa l'elemento sotto*/
}

.inline-block {
    display: inline;
}

.error {
    color: red;
}

.success {
    color: green;
}

.barrato {
    text-decoration: line-through;
}

body {
    background-color: ghostwhite;
    margin: 0px;
}

#fotolibro {
    max-width: 200px;
}

figure.catalogo-item {
    border-color: transparent;
    padding: 20px;
}

figure input[type=image] {
    width: 300px;
    height: 500px;
}

figure {
    border: 1px #cccccc solid;
    display: inline-block;
    text-align: center;
    padding: 4px;
    margin: 5px;
}

figcaption {
    border: 1px #cccccc solid;
    color: black;
    padding: 2px;
    text-align: center;
}

@media screen and (max-width: 600px) {

    body {
        font-size: 15px;
    }

    input[type=number] {
        font-size: 15px;
    }

    input[type=submit] {
        font-size: 15px;
    }

    figure img {
        margin-right: 60px;
        width: 180px;
        height: auto;
    }

    figcaption.catalogo-item{
        border-color: #cccccc;
        font-size: 25px;
        text-align: center;
    }
    figcaption.catalogo-item.caption{
        float: left;
        border-color: #cccccc;
        font-size: 15px;
        text-align: center;
    }

}

@media screen and (min-width: 601px) and (max-width: 984px) {

    body {
        font-size: 15px;
    }

    input[type=number] {
        font-size: 15px;
    }

    input[type=submit] {
        font-size: 15px;
    }

    figure img {
        margin-right: 60px;
        width: 280px;
        height: auto;
    }

    figcaption.catalogo-item{
        border-color: #cccccc;
        font-size: 30px;
        text-align: center;
    }
    figcaption.catalogo-item.caption{
        border-color: #cccccc;
        font-size: 20px;
        text-align: center;
    }

}

@media screen and (min-width: 985px) {

    body {
        font-size: 20px;
    }

    input[type=number] {
        font-size: 20px;
    }

    input[type=submit] {
        font-size: 20px;
    }

    figure img {
        margin-right: 60px;
        width: 300px;
        height: auto;
    }

    figcaption.catalogo-item{
        border-color: #cccccc;
        font-size: 40px;
        text-align: center;
    }

    figcaption.catalogo-item.caption{
        border-color: #cccccc;
        font-size: 25px;
        text-align: center;
    }

}