form label {
    font-size: 20px;
}

form p {
    font-size: 18px;
    font-style: italic;
}

legend {
    border: 1px solid black;
    background-color: #dee3de;
}

form input [type = text] {
    width: 40%;
}

#fotolibro {
    max-width: 200px;
}

#container-forms {
    max-width: 1000px;
    margin: auto;
}

#container-filtro-utente {
    margin: 10px;
}

fieldset {
    margin: 5px;
}