div.container-libro {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

@media screen and (max-width: 600px) {

    div.container-libro {
        padding: 10px;
    }

    body {
        font-size: 15px;
    }

    input[type=number] {
        font-size: 15px;
    }

    input[type=submit] {
        font-size: 15px;
    }

     img.copertina {
        border: 1px #cccccc solid;
        padding: 1px;
        margin-right: 60px;
        width: 180px;
        height: auto;
    }

    div.catalogo-item{
        margin: auto;
        max-width: 590px;
        border: 1px #cccccc solid;
        font-size: 25px;
    }
    div.catalogo-item.caption{
        float: left;
        font-size: 15px;
        text-align: center;
    }

}

@media screen and (min-width: 601px) and (max-width: 984px) {

    div.container-libro {
        padding: 20px;
    }

    body {
        font-size: 15px;
    }

    input[type=number] {
        font-size: 15px;
    }

    input[type=submit] {
        font-size: 15px;
    }

     img.copertina {
        border: 1px #cccccc solid;
        padding: 1px;
        margin-right: 60px;
        width: 280px;
        height: auto;
    }

    div.catalogo-item{
        margin: auto;
        max-width: 974px;
        border: 1px #cccccc solid;
        font-size: 25px;
    }
    div.catalogo-item.caption{
        padding: 4px;
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (min-width: 985px) {

    div.container-libro {
        padding: 30px;
    }

    body {
        font-size: 15px;
    }

    input[type=number] {
        font-size: 15px;
    }

    input[type=submit] {
        font-size: 15px;
    }

     img.copertina {
        border: 1px #cccccc solid;
        padding: 1px;
        margin-right: 60px;
        width: 300px;
        height: auto;
    }

    div.catalogo-item{
        margin: auto;
        max-width: 1300px;
        border: 1px #cccccc solid;
        font-size: 30px;
    }

    div.catalogo-item.caption{
        padding: 5px;
        font-size: 20px;
        text-align: center;
    }

}