
figure {
    border: 1px #cccccc solid;
    display: inline-block;
    text-align: center;
    padding: 4px;
    margin: 5px;
}

figcaption {
    border: 1px #cccccc solid;
    color: black;
    padding: 2px;
    text-align: center;
}

.barrato {
    text-decoration: line-through;
}

@media screen and (max-width: 600px) {
    figcaption :first-child {
        max-width: 145px;
    }


    figure input[type=image] {
        width: 200px;
        height: 333px;
    }
}

@media screen and (min-width: 601px) and (max-width: 984px) {
    figcaption :first-child {
        max-width: 180px;
    }


    figure input[type=image] {
        width: 250px;
        height: 416px;
    }
}

@media screen and (min-width: 985px) {
    figure input[type=image] {
        width: 300px;
        height: 500px;
    }
}