/*css per la vista mobile*/

footer {
    background-color: #00627D;
    text-align: center;
    margin-bottom: -20px;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    color: white;
}

/*seguiranno media query nei relativi breakpoints*/