header img {
    width: 20px;
    height: 20px;
}

header span {
    font-size: 20px;
    font-family: "Sitka Display";
    text-align: center;
}

.right {
    float: right;
}

header {
    margin : 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #00627D;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.dropdown-content a {
    color: white;
    border: none;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content input[type=image] {
    border: 1px white solid;
    border-radius: 3px;
    padding: 3px;
}

.show {display: block;}

.dropdown-content a:hover:not(#counter-carrello) {background-color: #555;}


/*seguiranno media query nei relativi breakpoints*/


@media screen and (min-width: 1018px) {
    header img {
        width: 40px;
        height: 40px;
    }

    header span {
        font-size: 40px;
    }

    .dropdown-content a {
        color: white;
        border: none;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}