nav ul {
    list-style-type: none; /*disattiva i bullets della lista*/
    background-color: #00627D;
    margin : 0;
    padding: 0;
}

nav a {
    padding: 5px;
    color: white;
    text-decoration: none; /*disattiva la decorazione del testo come ad esempio l'underline di un link*/
}

nav a:hover:not(.active) { /*utilizzo della sottoclasse hover per segnalare il passaggio sull'elemento della navbar, facendogli cambiare colore ed esclude l'elemento attivo da questa regola*/
    background-color: #555;
}

.active { /*cambia il colore di sfondo dell'elemento quando è attivo*/
    background-color: #fdc330;
    text-transform: uppercase;
}

/*seguiranno media query nei relativi breakpoints*/
@media screen and (max-width: 1017px) {
    .notnav {
        display: none;
    }

    nav li a{
        display: block;
    }

    #bottonenav {
        background-color: #00627D;
        color: white;
        border:none;
        text-align: center;
        font-size: 12px;
        display: inline-block;
    }

    nav li:first-of-type {
        display: inline-block;
    }

    .yesnav a {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}


@media screen and (min-width: 1018px) {
    /*navbar orizzontale*/
    .notnav {
        display: block;
    }

    #bottonenav {
        display: none;
    }

    nav ul{
        overflow:hidden;
    }
    nav li {
        display:inline-block;
    }

    nav a {
        font-size: 30px;
    }
}