.sidenav {
    width: 160px;
    position: relative;
    z-index: 1;
    top: 130px;
    left: 0;
    background-color: #dee3de; /*Whitecap Foam*/;
    overflow-x: hidden;
    padding: 20px;
}

.main {
    /*margin-left: 200px; !* Same as the width of the sidenav *!*/
    /*font-size: 28px; !* Increased text to enable scrolling *!*/
    padding: 0px 10px;
}

@media screen and (max-width: 600px) {
    .sidenav {
        top: 20px;
        position: relative;
        alignment: center;
        max-width: 140px;
        margin: auto;
    }

    #container-filtri-ordine {
        position: relative;
    }
}

@media screen and (min-width: 601px) and (max-width: 984px) {
    .sidenav {
        top: 180px;
        padding-top: 15px;
        width: 170px;
    }
    .sidenav a {font-size: 25px;}

    #container-filtri-ordine {
        position: absolute;
    }

}

@media screen and (min-width: 985px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 25px;}

    #container-filtri-ordine {
        position: absolute;
    }
}