.sidenav {
    width: 160px;
    position: fixed;
    z-index: 1;
    background-color: #dee3de; /*Whitecap Foam*/;
    overflow-x: hidden;
    padding: 10px;
    padding-top: 15px;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-width: 600px) {
    .sidenav {
        top: 20px;
        position: relative;
        margin: auto;
    }

}

@media screen and (min-width: 601px) and (max-width: 984px) {
    .sidenav {
        position: fixed;
        top: 260px;
        height: 51%;
        right: 7px;
        left: 7px;
    }

}

@media screen and (min-width: 985px) {

    .sidenav {
        top: 150px;
        padding-top: 15px;
        height: 51%;
        left: 7px;
        right: 7px;
    }

}