/*qui metteremo tutte le direttive relative al css delle pagine*/

/*classi css*/

.left{
    float: left; /*fissa l'elemento a sinistra*/
}

.right{
    float: right; /*fissa l'elemento a destra*/
}

.center {
    text-align: center; /*fissa l'elemento al centro*/
}

.bottom{
    float: bottom; /*fissa l'elemento sotto*/
}

.inline-block {
    display: inline;
}

.error {
    color: red;
}

.success {
    color: green;
}

.barrato {
    text-decoration: line-through;
}

body {
    background-color: ghostwhite;
    margin: 0px;
}

#fotolibro {
    max-width: 200px;
}

/*css per l'header bar*/

header img {
    width: 20px;
    height: 20px;
}

header span {
    font-size: 20px;
}

header {
    margin : 10px;
}

/*css per la nav bar*/

nav ul {
    list-style-type: none; /*disattiva i bullets della lista*/
    background-color: #00627D;
    margin : 0;
    padding: 0;
}

nav li a{
    display: block;
}

nav a:hover:not(.active) { /*utilizzo della sottoclasse hover per segnalare il passaggio sull'elemento della navbar, facendogli cambiare colore ed esclude l'elemento attivo da questa regola*/
    background-color: #555;
}

.active { /*cambia il colore di sfondo dell'elemento quando è attivo*/
    background-color: #fdc330;
    text-transform: uppercase;
}

nav a {
    padding: 5px;
    color: white;
    text-decoration: none; /*disattiva la decorazione del testo come ad esempio l'underline di un link*/
}

#bottonenav {
    display: none;
}

/*css per la search bar ed il benvenuto*/

.titoli{
    font-family: Georgia;
    color: black;
}

#container-ricerca input[type=text] {
    width: 50%;
}

#slogan {
    font-family: "Sitka Display";
    text-align: center;
}

/* css chi siamo, dove siamo, contattaci */

#container-cdc {
    text-align: center;
}

#container-cdc p {
    font-size: 20px;
    margin-left: 45px;
    margin-right: 45px;
}

#container-cdc img {
    width: 45%;
    height: auto;
}

/*css per il catalogo*/

#container-catalogo {
    text-align: -webkit-center;
    margin : 0px;
}

#container-carrello img {
    width: 100px;
    height: 150px;
}

figure.catalogo-item {
    border-color: transparent;
    padding: 20px;
}

figcaption.catalogo-item{
   border-color: #cccccc;
    font-size: 30px;
    text-align: center;
}

figure input[type=image] {
    width: 300px;
    height: 500px;
}

figure img {
   margin-right: 60px;
    width: 300px;
    height: 500px;
}

figure {
    border: 1px #cccccc solid;
    display: inline-block;
    text-align: center;
    padding: 4px;
    margin: 5px;
}

figcaption {
    border: 1px #cccccc solid;
    color: black;
    padding: 2px;
    text-align: center;
}

/*css per il footer*/

footer {
    background-color: #00627D;
    text-align: center;
    margin-bottom: -20px;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    color: white;
    font-size: 20px;
}

/* css per il form di registrazione */
#container-registrazione{
    font-size: 20px;
}

#container-registrazione p{
    font-size: 18px;
    font-style: italic;
}

/*css per il dropdown menu*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #00627D;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.dropdown-content a {
    color: white;
    border: none;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content input[type=image] {
    border: 1px white solid;
    border-radius: 3px;
    padding: 3px;
}

.show {display: block;}

.dropdown-content a:hover:not(#counter-carrello) {background-color: #555;}

/*media query*/

@media screen and (max-width: 660px) {

    /*navbar*/

    nav li {
        background-color: #00627D;
    }

    .notnav {
        display: none;
    }

    .yesnav a {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav li:first-of-type {
        display: inline-block;
    }

    nav a:hover:not(.active) {
        background-color: #555555;
    }

    #bottonenav {
        background-color: #00627D;
        color: white;
        border:none;
        text-align: center;
        font-size: 12px;
        display: inline-block;
    }

    .active {
        background-color: #fdc330;
        text-transform: uppercase;
    }

        /*#container-catalogo {*/
        /*    max-width: 660px;*/
        /*    margin : auto;*/
        /*}*/
}

@media screen and (min-width: 984px) and (max-width: 1309px) {
    /*#container-catalogo {*/
    /*    max-width: 984px;*/
    /*    margin : auto;*/
    /*}*/

    header img {
        width: 40px;
        height: 40px;
    }

    header span {
        font-size: 40px;
    }

    .dropdown-content a {
        color: white;
        border: none;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /*navbar orizzontale*/
    nav ul{
        overflow:hidden;
    }
    nav li{
        display:inline-block;
    }

    nav a {
        font-size: 30px;
    }

    footer {
        margin-bottom: -30px;
    }

    footer p {
        color: white;
        font-size: 30px;
    }
}

@media screen and (min-width: 1310px) {
    /*#container-catalogo {*/
    /*    max-width: 1310px;*/
    /*    margin : auto;*/
    /*}*/

    header img {
        width: 40px;
        height: 40px;
    }

    header span {
        font-size: 35px;
    }

    .dropdown-content a {
        color: white;
        border: none;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /*navbar orizzontale*/
    nav ul{
        overflow:hidden;
    }
    nav li{
        display:inline-block;
    }

    nav a {
        font-size: 30px;
    }

    footer {
        margin-bottom: -30px;
    }

    footer p {
        color: white;
        font-size: 30px;
    }

}
