/*classi css*/

html,body {
    background-color: ghostwhite;
    margin: 0px;
    font-family: Verdana, Arial, "sans-serif";
}

.left{
    float: left; /*fissa l'elemento a sinistra*/
}

.text-left{
    text-align: left;
}

.bold {
    font-weight: bold;
}

.none{
    display: none;
}

.nobullet{
    list-style-type: none;
}


.block{
    display: block;
}

.right{
    float: right; /*fissa l'elemento a destra*/
}

.center {
    text-align: center; /*fissa l'elemento al centro*/
}

.bottom{
    float: bottom; /*fissa l'elemento sotto*/
}

.inline-block {
    display: inline;
}

.error {
    color: red;
}

.success {
    color: green;
}

.barrato {
    text-decoration: line-through;
}
